.dealmovement {
  .deal-path {
    cursor: pointer;
  }
  table {
    border: 1px solid white;
    border-collapse: collapse;
  }
  td,
  th {
    border: 1px solid #a0a0a070;
    border-collapse: collapse;
    text-align: center;
  }
  th {
    padding: 10px 20px;
    font-weight: normal;
    background-color: #f4f4f4;
    color: #a0a0a0;
  }
  td {
    padding: 20px;
  }
  & > .modal-wrapper {
    top: 0;
    left: 0;
    background: #00000030;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 1000;
    & > .modal-main {
      margin-top: 100px;
      width: fit-content;
      background-color: #ffffff;
      height: fit-content;
      max-height: 70vh;
      overflow: auto;
      // padding: 30px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 8px;

      & > .email-header {
        display: flex;
        justify-content: space-between;
        & > h3 {
          margin: 0 0 10px 0;
          width: 100%;
        }
      }
      & > h4 {
        margin: 0 0 10px 0;
      }
      & > p {
        margin-bottom: 10px;
        color: #a0a0a0;
        & > span {
          color: #000000;
          margin-left: 10px;
        }
      }
      & > .email-content {
        margin-top: 20px;
      }
    }
  }
}
