@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.MuiAppBar-colorSecondary {
  background-color: #fff;
  padding: 0.5rem 0;
}
.nav-logo {
  height: 65px;
}
#react-admin-title {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.MuiDrawer-root {
  /* background-color: rgb(244, 244, 244); */
  background-color: rgb(236, 236, 236);
}
.MuiDrawer-root > div > div {
  top: 66px;
}
.location-search-input {
  padding: 8px 15px;
  border-radius: 5px;
  width: 300px;
}
.autocomplete-dropdown-container {
  position: absolute;
  z-index: 10;
}

.login-logo {
  display: block;
  height: 110px;
  margin: 0 auto;
}
.email-sent {
  margin-top: 1rem;
  padding: 0.25rem 1rem;
  background-color: #28a745;
  color: #fff;
}
.verifying-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.verifying-page h1 {
  font-size: 3rem;
}
button[aria-label='Refresh'] {
  display: none;
}
.MuiAppBar-root {
  color: #000 !important;
  background-color: #fff !important;
}
.MuiButtonBase-root[aria-label='Create'] {
  background-color: #3f51b5;
  color: #fff;
  padding-right: 0.6rem;
}
.MuiButtonBase-root[aria-label='Create']:hover {
  background-color: #303f9f;
  color: #fff;
}
.input-container {
  display: flex;
  justify-content: space-between;
}
.input-container .invite-btn {
  margin-left: 20%;
  padding: 0.5rem 1.5rem;
}
#main-content {
  margin-top: 1.5rem !important;
}
.formcontrol-field {
  margin: 20px 10px !important;
}
.option-btn {
  margin: 0 10px !important;
}
.list-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.list-item h2 {
  display: inline-block !important;
}
